<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <entry key="languageVersion" type="xint" value="1"/>
        <entry key="builtinFunctionsVersion" type="xint" value="1"/>
        <entry key="builtinAggregationsVersion" type="xint" value="1"/>
        <config key="additionalExpressions">
            <config key="0">
                <entry key="script" type="xstring" value="&quot;https://bdiaweb.ibge.gov.br/proxy/api/graficos/&quot;"/>
                <entry key="outputMode" type="xstring" value="APPEND"/>
                <entry key="createdFlowVariable" type="xstring" value="endpoint-parte-1"/>
                <entry key="replacedFlowVariable" type="xstring" value=""/>
                <entry key="flowVariableReturnType" type="xstring" value="String"/>
            </config>
            <config key="1">
                <entry key="script" type="xstring" value="&quot;/tipo_recorte/&quot;"/>
                <entry key="outputMode" type="xstring" value="APPEND"/>
                <entry key="createdFlowVariable" type="xstring" value="endpoint-parte-2"/>
                <entry key="replacedFlowVariable" type="xstring" value=""/>
                <entry key="flowVariableReturnType" type="xstring" value="String"/>
            </config>
            <config key="2">
                <entry key="script" type="xstring" value="&quot;/nivel/1?recorte=&quot;"/>
                <entry key="outputMode" type="xstring" value="APPEND"/>
                <entry key="createdFlowVariable" type="xstring" value="endpoint-parte-3"/>
                <entry key="replacedFlowVariable" type="xstring" value=""/>
                <entry key="flowVariableReturnType" type="xstring" value="String"/>
            </config>
        </config>
    </config>
    <config key="variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.base.expressions.node.variable.ExpressionFlowVariableNodeFactory"/>
    <entry key="node-name" type="xstring" value="Variable Expression"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Base Expressions"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.base.expressions"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.4.1.v202501291459"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Expressions"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.base.expressions.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.4.1.v202501291459"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="Variable Expression"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
