<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="dbTable_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_dbmetadata"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="dbTable">
            <entry key="database" type="xstring" value=""/>
            <entry key="schema" type="xstring" value="public"/>
            <entry key="table" type="xstring" value="desmatamento_municipio"/>
        </config>
        <config key="setColumns">
            <entry key="filter-type" type="xstring" value="STANDARD"/>
            <config key="included_names">
                <entry key="array-size" type="xint" value="4"/>
                <entry key="0" type="xstring" value="area_desmatada"/>
                <entry key="1" type="xstring" value="municipio_id"/>
                <entry key="2" type="xstring" value="ano"/>
                <entry key="3" type="xstring" value="bioma_id"/>
            </config>
            <config key="excluded_names">
                <entry key="array-size" type="xint" value="3"/>
                <entry key="0" type="xstring" value="gid"/>
                <entry key="1" type="xstring" value="Municipio"/>
                <entry key="2" type="xstring" value="Estado"/>
            </config>
            <entry key="enforce_option" type="xstring" value="EnforceExclusion"/>
            <config key="name_pattern">
                <entry key="pattern" type="xstring" value=""/>
                <entry key="type" type="xstring" value="Wildcard"/>
                <entry key="caseSensitive" type="xboolean" value="true"/>
                <entry key="excludeMatching" type="xboolean" value="false"/>
            </config>
            <config key="datatype">
                <config key="typelist">
                    <entry key="org.knime.core.data.IntValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.DoubleValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.StringValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.BooleanValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.LongValue" type="xboolean" value="false"/>
                    <entry key="org.knime.core.data.date.DateAndTimeValue" type="xboolean" value="false"/>
                </config>
            </config>
        </config>
        <config key="knime_to_external_mapping_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_dataTypeMapping"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <config key="knime_to_external_mapping"/>
        <config key="batchSize_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_integer"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="batchSize" type="xint" value="1000"/>
        <config key="failOnError_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="failOnError" type="xboolean" value="true"/>
        <config key="showStatus_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="showStatus" type="xboolean" value="true"/>
        <config key="disableDbDataPort_Internals">
            <entry key="SettingsModelID" type="xstring" value="SMID_boolean"/>
            <entry key="EnabledStatus" type="xboolean" value="true"/>
        </config>
        <entry key="disableDbDataPort" type="xboolean" value="false"/>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="CONFIGURED"/>
    <config key="nodecontainer_message">
        <entry key="type" type="xstring" value="ERROR"/>
        <entry key="message" type="xstring" value="Execute failed: Error while adding rows #-1000 - #0, reason: Batch entry 0 INSERT INTO &quot;public&quot;.&quot;desmatamento_municipio&quot; (&quot;area_desmatada&quot;, &quot;municipio_id&quot;, &quot;ano&quot;, &quot;bioma_id&quot;) VALUES (('124.35295597353165'::double precision),('1720101'::int4),('2007'::int4),('1'::int4)) was aborted: ERROR: column &quot;bioma_id&quot; of relation &quot;desmatamento_municipio&quot; does not exist%%00010  Position: 89  Call getNextException to see other errors in the batch."/>
    </config>
    <entry key="factory" type="xstring" value="org.knime.database.node.io.insert.DBInsertNodeFactory"/>
    <entry key="node-name" type="xstring" value="DB Insert"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME database nodes"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.database.nodes"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.4.1.v202501291459"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Database"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.database.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.4.4.v202504301444"/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="DB Insert"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
        <config key="port_2">
            <entry key="index" type="xint" value="2"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
